.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {
	background:#B22222;
}
.btn-default {
	background-color:#B22222;
}
.footerdivide {
	background:#f0b70c;
}
.buttoncolor {
	background:#B22222;
}
.grid figcaption {
	color:#f0b70c;
}
.grid figcaption a {
	background:#f0b70c;
}
.colortext {
	color:#f0b70c;
}
.colorbg {
	background:#f0b70c;
}
 #Section-1 {
	background:#FFFACD;
}
 #Section-3 {
	background:#FFFACD;
}
 #Section-5 {
	background:#f0b70c;
}
 footer {
	background:#f0b70c;
}
.buttonyellow{
	background:#B22222;
}
